# Project exclude paths
/Server/cmake-build-debug/
/Server/build/

/Client/cmake-build-debug/
/Client/book.txt
/Client/input.txt
/Client/build/
/Client/output.txt

/Proxy/cmake-build-debug/
/Proxy/build/
/Proxy/env
/Proxy/__pycache__/

/Graph/output.txt
/Graph/build/
/Graph/dist/

/.idea/
/.vscode/