# Project exclude paths
/Server/cmake-build-debug/
/Server/build/
/Server/stat.txt
/Server/graph.txt

/Client/cmake-build-debug/
/Client/input.txt
/Client/build/
/Client/output.txt

/Proxy/cmake-build-debug/
/Proxy/build/
/Proxy/env
/Proxy/main
/Proxy/__pycache__/
/Proxy/statistics.txt

/Graph/output.txt
/Graph/build/
/Graph/dist/

/.idea/
/.vscode/
/statistics.txt